@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.background {
    height: 80vh; /* 전체 높이 설정 */
    position: relative; /* 자식 요소의 절대 위치 설정을 위해 */
}

.search-bar {
    position: absolute; /* 절대 위치로 설정 */
    left: 0; /* 좌측에서의 위치 조정 */
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 레이어보다 위에 오도록 설정 */
}

.explore {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    background-color: #FAF7F0;

}

.region-dropdown {
    margin-right: 1rem;
}

.type-dropdown {
    margin-right: 1rem;
}

.list-wrap {
    width: 100%;
    margin-top: 8rem;
    height: calc(70vh - 80px);
    overflow-y: auto;
    padding-bottom: 60px;
    background-color: #FAF7F0;
    pointer-events: none; /* 클릭 이벤트 비활성화 */
}

.list-wrap > * {
    pointer-events: auto; /* 자식 요소에 대해 클릭 이벤트 활성화 */
    cursor: default; /* 기본 커서로 설정 */
}

.list-detail {
    flex: 1;
    padding-top: 1rem;

}

.location {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    background-color: #FAF7F0;

    padding-left: 0.5rem;
}

.location-num-wrap {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}


.location-num {
    color: white;
    padding-top: 0.3rem;
}


.location-info {
    padding-left: 1rem;
}


.location-info .title {
    /*font-family: 'JalnanGothic';*/
    margin: 5px 0 0 0;
}

.location-info .addr {
    /*font-family: 'GmarketSansMedium';*/
    margin: 0;
    font-size: 80%;
    color: #808080;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}

.tag {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin-right: 0.3rem;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: #6096B4;
    color: #ffffff; /* 글씨 색상 변경 */
}

.location-img-wrap {
    text-align: center;
    padding-left: 1rem;
    display: table;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 70%;
    cursor: pointer; /* 커서를 포인터로 설정 */
    pointer-events: auto; /* 포인터 이벤트 활성화 */
}

.location-img-div {
    display: table-cell;
    vertical-align: middle;
}

.location-img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 70%;
}

.location-num-wrap {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}

.color-first {
    background-color: #A6285F; /* type이 도서관일 경우 배경색 */
}

.color-second {
    background-color: #227c9d; /* type이 문화공간일 경우 배경색 */
}

.color-third {
    background-color: #9C8770; /* type이 서점일 경우 배경색 */
}

.location-num {
    color: white;
    padding-top: 0.1rem;
}

/*스크롤바*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}



.pagination {
    margin-top: 10rem;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;
    background-color: #FAF7F0; /* 배경색 설정 (선택 사항) */
}

