@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.background {
    height: 80vh; /* 전체 높이 설정 */
    position: relative; /* 자식 요소의 절대 위치 설정을 위해 */
}

.search-bar {
    position: absolute; /* 절대 위치로 설정 */
    left: 0; /* 좌측에서의 위치 조정 */
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 레이어보다 위에 오도록 설정 */
}

.explore {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.region-dropdown {
    margin-right: 1rem;
}

.type-dropdown {
    margin-right: 1rem;
}

.list-wrap {
    width: 100%;
    margin-top: 8rem;
    height: calc(70vh - 80px); /* Pagination을 고려한 높이 조정 */
    overflow-y: auto; /* 스크롤 가능하게 설정 */
    padding-bottom: 60px; /* Pagination 공간 확보 */
}

.list-detail {
    flex: 1;
    padding-top: 1rem;

}

.location {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.location-num-wrap {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}


.location-num {
    color: white;
    padding-top: 0.3rem;
}


.location-info {
    padding-left: 1rem;
}


.location-info .title {
    /*font-family: 'JalnanGothic';*/
    margin: 5px 0 0 0;
}

.location-info .addr {
    /*font-family: 'GmarketSansMedium';*/
    margin: 0;
    font-size: 80%;
    color: #808080;
}

.tags{
    display: flex;
}

.tag {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin-right: 0.3rem;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: #6096B4;
    color: #ffffff; /* 글씨 색상 변경 */
}

.location-img-wrap {
    text-align: center;
    padding-left: 1rem;
    display: table;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 70%;
}

.location-img-div {
    display: table-cell;
    vertical-align: middle;
}

.location-img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 70%;
}

.location-num-wrap {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}

.color-first {
    background-color: #A6285F; /* type이 도서관일 경우 배경색 */
}

.color-second {
    background-color: #227c9d; /* type이 문화공간일 경우 배경색 */
}

.color-third {
    background-color: #9C8770; /* type이 서점일 경우 배경색 */
}

.location-num {
    color: white;
    padding-top: 0.1rem;
}

/*스크롤바*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}



.pagination {
    position: absolute; /* 절대 위치로 설정 */
    bottom: 0rem; /* 아래에서의 위치 조정 */
    left: 50%; /* 왼쪽 기준으로 */
    transform: translateX(-50%); /* 가운데 정렬을 위ㄲ해 수평 이동 */
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    width: 100%; /* 전체 너비 */
    background-color: #FAF7F0; /* 배경색 설정 (선택 사항) */
    padding: 10px 0; /* 상하 여백 추가 */
}

.rights {
    position: absolute; /* 절대 위치로 설정 */
    bottom: -3.5rem; /* 아래에서의 위치 조정 */
    left: 50%; /* 왼쪽 기준으로 */
    transform: translateX(-50%); /* 가운데 정렬을 위ㄲ해 수평 이동 */
    justify-content: center; /* 가로 가운데 정렬 */
    width: 100%; /* 전체 너비 */
    padding: 10px 0; /* 상하 여백 추가 */
}

.rights p {
    margin: 0;
    font-size: 0.7rem;
}
