
.wrapper{
    display: flex;
    color: #031A29;
    padding-top: 80px;
    background-color: #FAF7F0;
}

.result-wrap {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 79vh;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 4rem;
    overflow: auto;
    background-color: #FAF7F0;
}

.result-map {
    text-align: center;
    width: 100%; /* 가로 공간을 확보하기 위해 추가 */
    height: 75vh;
    margin-left: auto;
    flex-grow: 1;
}